body{
  background-color: rgb(104, 32, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.search{
  position: relative;
  height: 50px;
}


.input{
  background-color: white;
  position: relative;
  border: none;
  height:50px;
  width: 50px;
  transition: width 0.3s ease;
}
.button{
  position: absolute;
  border: 0;
  background-color: white;
  font-size: 20px;
  top: 0;
  left: 0;
  height: 52px;
  width: 54px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.input:focus,.button:focus{
  outline: none;
}
.search.active .input{
  width: 200px;
}

.search.active .button{
  transform: translateX(198px);
}
